@font-face {
    font-family: 'Butler';
    src: url('../fonts/butler/Butler_Black.otf');
  
    font-family: 'Futura';
    src: url('../fonts/Futura/Futura-CondensedLight.otf');
} 


.home-wrapper {
    position: absolute;
    height: 100vh;
    color: #F2F2F2;
    width: 100%;
}

.hw-nav-fixed {
    position: fixed;
    width: 100%;
    height: 100vh;
    padding-top: 47px;
    padding-left: 45px;
    padding-right: 45px;
    font-family: 'Futura';
    font-weight: lighter;
    font-size: 2.55vh;
    z-index: 3;
}

#brand {
    height: 4.14vh;
    width: 2.1vh;
}

#menu {
    width: 3.08vh;
    height: 3.08vh;
    float: right;
}

.year {
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    margin: 0;
    writing-mode: vertical-lr;
}

.home {
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    right: 45px;
    margin: 0;
    writing-mode: vertical-rl;
}

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.hero-section .row {
    margin-top: 0;
}

.hero-wrapper {
    width: 75%;
}

.line-center {
    border-top: 1px solid #707070;
    width: 137.6vh;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

.arrow {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    width: 1.74vh;
    height: 1.74vh;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: translate(-50%, 0) rotate(45deg);
    animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
    0% {
          transform: translate(0, -20px) rotate(45deg);
          opacity: 0;
    }
    50% {
          opacity: 1;
    }
    100% {
          transform: translate(0, 60px) rotate(45deg);
          opacity: 0;
    }
}

.showcase {
    font-family: 'Futura';
    font-weight: lighter;
    height: 10vh;
    text-align: center;
}

.showcase-t {
    text-align: left;
    display: inline-block;
    font-size: 2.55vh;
}

.line-vertical {
    margin-left: 10px;
    height: 5.5vh;
    border-left: 1px solid#F2F2F2;
    display: inline-block;
}

.explore-t {
    margin-left: 10px;
    display: inline-block;
    font-size: 7.54vh;
}

.hero-img {
    height: 66.5vh;
}

.hero-section-left {
    height: 100%;
    text-align: right;
}

.left-items {
    padding-top: 14.7vh;
}

.me {
    font-family: 'Butler';
    font-size: 9vh;
    margin-bottom: 0;
}

.see {
    font-size: 3.07vh;
    font-weight: lighter;
    font-family: 'Futura';
    margin-bottom: 0;
}

.underline {
    margin-top: -0.5vh;
    float: right;
    border-top: 1px solid #AAAAAA;
    width: 6.65vh;
}

.quote {
    font-size: 2.55vh;
    font-weight: lighter;
    font-family: 'Futura';
    margin-top: 9.5vh;
    margin-bottom: 0;
}

.hero-section-mid {
    text-align: center;
}

.hero-section-right {
    text-align: left;
}

.right-items {
    padding-top: 14.3vh;
}

.one-role {
    margin-top: 3.48vh;
    margin-bottom: 3.48vh;
}

.rl {
    margin-right: 4.6vh;
}

.role {
    font-family: 'Butler';
    font-size: 2.7vh;
    display: inline-block;
}

.num {
    font-family: 'Futura';
    font-size: 2.55vh;
    font-weight: lighter;
    display: flex;
    height: 40%;
    align-items: flex-end;
}

@media (min-width: 1200px) and (max-width : 1500px) {
    .hero-img {
        height: 51vh;
    }
    .me {
        font-size: 6.2vh;
    }
    .see {
        font-size: 2.5vh;
    }
    .underline {
        width: 5.5vh;
    }
    .quote {
       font-size: 1.9vh; 
    }
    .role {
        font-size: 1.9vh; 
    }
    .num {
        font-size: 1.9vh; 
    }
    .left-items {
        padding-top: 11.3vh;
    }
    .right-items {
        padding-top: 8.9vh;
    }
    .line-center {
        width: 101vh;
    }
}

@media (min-width: 992px) and (max-width : 1200px) {
    .hero-img {
        height: 47vh;
    }
    .me {
        font-size: 6.2vh;
    }
    .see {
        font-size: 2.5vh;
    }
    .underline {
        width: 5.5vh;
    }
    .quote {
       font-size: 1.9vh; 
    }
    .role {
        font-size: 1.9vh; 
    }
    .num {
        font-size: 1.9vh; 
    }
    .left-items {
        padding-top: 11.3vh;
    }
    .right-items {
        padding-top: 8.9vh;
    }
    .line-center {
        width: 93vh;
    }
}

@media (min-width: 768px) and (max-width : 991px) {
    .hero-wrapper {
        width: 90%;
    }
    .hero-section-mid {
        display: none;
    }
    .me {
        font-size: 6.2vh;
    }
    .showcase {
        margin-bottom: 8.4vh;
    }
    .left-items {
        padding-top: 0;
        margin-bottom: 26.5vh;
    }
    .see {
        font-size: 2.5vh;
    }
    .underline {
        width: 5.5vh;
    }
    .quote {
       display: none; 
    }
    .role {
        font-size: 1.9vh; 
    }
    .num {
       display: none;
    }
    .left-items {
        padding-top: 11.3vh;
    }
    .right-items {
        padding-top: 8.9vh;
    }
    .line-center {
        width: 60vh;
    }
}

@media (min-width: 480px) and (max-width : 767px) {
    .hw-nav-fixed {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 2vh;
    }
    .home {
        right: 25px;
    }
    .hero-wrapper {
        width: 100%;
    }
    .hero-section-left {
        text-align: center;
    }
    .hero-section-mid {
        display: none;
    }
    .hero-section-right {
        display: none;
    }
    .me {
        font-size: 6.2vh;
    }
    .see {
        font-size: 2.5vh;
    }
    .underline {
        width: 5.5vh;
    }
    .quote {
       display: none;
    }
    .showcase {
        margin-bottom: 15.4vh;
    }
    .left-items {
        padding-top: 0;
        margin-bottom: 22vh;
    }
    .line-center {
        width: 75vw;
    }
    .underline {
        float: none;
        margin: 0 auto;
    }
}

@media (max-width: 480px){
    .hw-nav-fixed {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 2vh;
    }
    .home {
        right: 25px;
    }
    .hero-section-left {
        text-align: center;
    }
    .hero-section-mid {
        display: none;
    }
    .hero-section-right {
        display: none;
    }
    .me {
        font-size: 6.2vh;
    }
    .see {
        font-size: 2.5vh;
    }
    .underline {
        width: 5.5vh;
    }
    .quote {
       display: none;
    }
    .showcase {
        margin-bottom: 15.4vh;
    }
    .showcase-t {
        font-size: 2vh;
    }
    .explore-t {
        font-size: 6.2vh;
    }
    .line-vertical {
        height: 5vh;
    }
    .left-items {
        padding-top: 0;
        margin-bottom: 22vh;
    }
    .line-center {
        width: 73vw;
    }
    .underline {
        float: none;
        margin: 0 auto;
    }
}
