.project-wrapper {
    margin-top: 10vh;
    width: 100%;
    top: 100%;
    color: #F2F2F2;
}

.pw-section {
    margin-top: 40px;
    margin-left: 175px;
    margin-right: 175px;
}

.pw-title {    
    text-align: right;
}

.pw-title p {
    font-family: 'Butler';
    font-size: 9vh;   
    margin-top: 0;
    margin-bottom: 0;
}

.pw-title p span {
    display: inline;
}

.pw-title h6 {
    margin-top: 0;
    font-family: 'Futura';
    font-size: 4vh;
    float: left;
}

.insert h6 {
    display: inline;
}

.insert h6:last-child {
    float: right;
    font-size: 4vh;
    opacity: 60%;
}

.pw-underline {
    float: right;
    border-top: 1px solid #707070;
    display: block;
    width: 100%;
}

.pw-content {
    margin-top: 45px;
}

.pw-content-arrow {
    padding-top: 20vh;
}

.pw-c-title {
    font-size: 7vh;
    font-family: 'Futura';
    margin-bottom: 0;
    text-align: center;
}

.pw-left {
    padding-right: 42px;
}

.pw-right {
    padding-left: 42px;
}

.content-title {
    font-family: 'Futura';
    font-weight: lighter;
}

.pw-year {
    font-size: 2.55vh;
    display: inline-block;
}

.pw-explore {
    display: inline-block;
    float: right;
    font-size: 3.46vh;
    opacity: 50%;
}

.pw-content img {
    width: 100%;
}

.pw-concept {
    font-family: 'Butler';
    font-size: 8vh;
    margin-bottom: 0;
}

.line-horizontal {
    border-top: 1px solid #707070;
    width: 100%;
    margin-bottom: 1.5vh;
    margin-top: 0;
}

.pw-desc {
    font-family: 'Futura';
    font-size: 3vh;
    font-weight: lighter;
    opacity: 70%;
}

.circular-text {
    font-size: 2.1vw;
    font-family: 'Futura';
    transition: 0.9s ease-out;
}

.circular-text-auto {
    font-size: 2.1vw;
    font-family: 'Futura';
    transform: translate(-50%, -50%);
    animation: rotating 5s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.arrows {
    position: relative;
    margin-top: -57.67vh; 
    margin-left: 9.5vw;
}
.arrows img {
    width: 9.4vw;
    height: 11.28vw;
}

.arrows-auto {
    position: relative;
    margin-top: -58vh; 
    margin-left: 7.5vw;
}

.arrows-auto img {
    width: 9.4vw;
    height: 11.97vw;
    transform: rotate(-45deg);
}

.arrows-auto-1 {
    position: relative;
    margin-top: -58vh; 
    margin-left:  8vw;
}

.arrows-auto-1 img {
    width: 9.4vw;
    height:  11.97vw;
    transform: rotate(45deg);
}


@media (min-width: 1200px) and (max-width : 1500px) {
    .pw-title p {
        font-size: 5vh;
    }
    .pw-title h6 {
        font-size: 2vh;
    }
    .pw-year {
        font-size: 1.9vh;
    }
    .pw-explore {
        font-size: 2.7vh;
    }
    .pw-concept {
        font-size: 4.8vh;
    }
    .pw-desc {
        font-size: 1.9vh;
    }
    .arrows {
        display: none;
    }
    .arrows-auto {
        display: none;
    }
    .arrows-auto-1 {
        display: none;
    }
}

@media (min-width: 992px) and (max-width : 1200px) {
    .pw-section {
        margin-left: 150px;
        margin-right: 150px;
    }
    .pw-title p {
        font-size: 5vh;
    }
    .pw-title h6 {
        font-size: 2vh;
    }
    .pw-year {
        font-size: 1.9vh;
    }
    .pw-explore {
        font-size: 2.7vh;
    }
    .pw-concept {
        font-size: 4.8vh;
    }
    .pw-desc {
        font-size: 1.9vh;
    }
    .not-mobile {
        display: none;
    }
}

@media (min-width: 768px) and (max-width : 991px) {
    .pw-section {
        margin-left: 100px;
        margin-right: 100px;
    }
    .pw-title p {
        font-size: 4.5vh;
    }
    .pw-title h6 {
        font-size: 2vh;
    }
    .pw-year {
        font-size: 1.5vh;
    }
    .pw-explore {
        font-size: 2.2vh;
    }
    .pw-concept {
        font-size: 3.6vh;
    }
    .pw-desc {
        font-size: 1.5vh;
    }
    .not-mobile {
        display: none;
    }
}

@media (min-width: 480px) and (max-width : 767px) {
    .pw-section {
        margin-left: 45px;
        margin-right: 45px;
    }
    .pw-title p {
        font-size: 4vh;
    }
    .pw-title h6 {
        font-size: 2vh;
    }
    .pw-left {
        padding-right: 0;
    }
    .pw-right {
        padding-left: 0;
    }
    .pw-year {
        font-size: 2.1vh;
    }
    .pw-explore {
        font-size: 3vh;
    }
    .pw-concept {
        font-size: 5vh;
    }
    .pw-desc {
        font-size: 2.1vh;
    }
    .not-mobile {
        display: none;
    }
}

@media (max-width: 480px){
    .pw-section {
        margin-left: 6vh;
        margin-right: 6vh;
    }
    .pw-title p {
        font-size: 4vh;
    }
    .pw-title h6 {
        font-size: 2vh;
    }
    .pw-left {
        padding-right: 0;
    }
    .pw-right {
        padding-left: 0;
    }
    .pw-year {
        font-size: 2.1vh;
    }
    .pw-explore {
        font-size: 2.7vh;
    }
    .pw-concept {
        padding-top: 1vh;
        font-size: 4.3vh;
    }
    .pw-desc {
        font-size: 2.1vh;
    }
    .not-mobile {
        display: none;
    }
}